:root {
    --main-color: #451400;
    --secondry-color: #fff;
}


.navbar {
    background-color: var(--secondry-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

}

.navbar .brand {
    width: 310px;
}

.navbar .navbar-brand img {
    width: 40%;
}

.navbar .sign-in {
    text-decoration: none;
    color: #635852;
    font-size: 19px;
    text-transform: uppercase;
}

.navbar .sign-in i {
    padding-right: 4px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 22px;
    padding-left: 20px;
    font-weight: bold;
    color: var(--main-color);
    transition: all .1s ease-in;

}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #ad2118;
    transition: all .1s ease-in-out;
}

.navbar .navbar-nav .nav-item .nav-link:hover span {
    border-bottom: 3px solid #ad2118;
    transition: all .1s ease-in;
}

.navbar .find-Chipotle button {
    background-color: var(--main-color);
    color: var(--secondry-color);
}

.navbar .find-Chipotle button span {
    padding-left: 5px;
    border-left: 1px solid #fff;
}

.navbar .find-Chipotle button i {
    padding-right: 5px;
}



header .hero-section video {
    object-fit: cover;
    width: 100%;
    min-height: 450px;
    margin-top: 160px;
}


.restaurant-food {
    padding-top: 40px;
    padding-bottom: 40px;
}

.restaurant-food .restaurant-food-item {
    padding-bottom: 40px;
}

.restaurant-food .restaurant-food-item img {
    width: 100%;
}

.advertisement {
    padding-top: 40px;
    padding-bottom: 40px
}

.advertisement .advertisement-item {
    border: 1px solid #ccc;
    padding: 10px;
}

.advertisement video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tap-order {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url('../images/pattern-ingredients.svg');
}

.tap-order button {
    margin-bottom: 20px;
}

.tap-order img {
    width: 100%;
}

.crowd-pleasers {
    padding-top: 40px;
    padding-bottom: 40px;
}

.crowd-pleasers .crowd-pleasers-item .crowd-pleasers-item-catering-header {
    background: url('../images/A_Catering-Tile_570x190@2x.jpg');
    background-size: 100% 190px;
    background-repeat: no-repeat;
    min-height: 200px;
    color: #fff;
    font-weight: bold;
}

.crowd-pleasers .crowd-pleasers-item .crowd-pleasers-item-groupOrder-header {
    background: url('../images/Group-Ordering-Tile_570x190@2x.jpg');
    background-size: 100% 190px;
    background-repeat: no-repeat;
    min-height: 200px;
    color: #fff;
    font-weight: bold;
}

.crowd-pleasers .crowd-pleasers-item button {
    background-color: #A76721;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 0;
    padding: 10px 30px;
}

.crowd-pleasers ul {
    padding: 0;
}

footer {
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #1B0800;
    color: #fff;
}

footer .contact-support {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer h2 {
    padding: 20px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}

footer ul li a i {
    font-size: 27px;
    background-color: #786259;
    padding: 10px;
}


footer .copyRight {
    padding: 40px 0 0;
}

footer ul li a:hover {
    text-decoration: none;
    color: #fff;
}

/* ######################### Gatering Page ######################### */
.catering-hero-section {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 160px;

}

.catering-hero-section h1 {
    color: #451400;
    font-size: 60px;
    font-weight: bold;
}

.catering-hero-section img {
    width: 100%;
}

.catering-hero-section .countOfPeople {
    font-size: 13px;
    color: #9d8d80;
    text-align: center;
}

h3 {
    font-weight: bold;
}

.catering-hero-section p,
.catering-hero-section span {
    font-size: 13px;
    font-weight: normal;
}


.catering-hero-section button {
    background-color: #C08B15;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: all .3s ease-in;
}

.catering-hero-section button:hover {
    background-color: #57400f;
    color: #fff;
}

.popular-builds {
    padding: 40px 0;
    color: #fff;
    background-color: #786259;

}

.popular-builds .popular-builds-item {
    background-color: #fff;
}

.popular-builds .popular-builds-item .popular-builds-item-header {
    color: #fff;
}

.popular-builds .popular-builds-item .popular-builds-item-header .popular-builds-item-header-title {
    bottom: 10px;
    padding: 0 3px;
}

.popular-builds .popular-builds-item .popular-builds-item-header img {
    width: 100%;
}

.popular-builds .popular-builds-item .popular-builds-item-footer {
    color: #000;
    padding: 3px 10px;
}

.popular-builds .popular-builds-item .popular-builds-item-footer button {
    background-color: #C08B15;
    color: #fff;
    width: 100%;
    font-weight: bold;
}

.popular-builds .popular-builds-item .popular-builds-item-footer p {
    font-size: 13px;
    color: #9d8d80;
}

.popular-builds .popular-builds-item .popular-builds-item-footer div p span {
    font-size: 15px;
    color: #000;
    font-weight: bold;
}

.bulid-your-own {
    background-color: #F2F2F1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bulid-your-own h3 {
    margin-top: -40px;
    font-size: 150px;
    color: #451400;
    font-weight: bold
}

.bulid-your-own .single-value {
    background-color: #fff;
}

.bulid-your-own .best-values {
    background-color: #C08B15;
    color: #fff;
    padding: 5px 10px;

}

.bulid-your-own .bulid-your-single button {
    background-color: #C08B15;
    color: #fff;
    font-weight: bold;
    width: 100%;
}

.bulid-your-own .bulid-your-single img {
    width: 100%;
}

.chips-dips {
    background-color: #E8E8E5;
}

.chips-dips h2 {
    color: #451400;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
}

.chips-dips button {
    background-color: #C08B15;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
}

.chips-dips img {
    width: 60%;
}

.team-today {
    color: #fff;
    background-image: url('../images/group-order-large.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
    background-size: cover
}

.team-today a {
    color: #C08B15;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}